[submodule "apps/data-binder"]
	path = apps/data-binder
	url = https://github.com/mure-apps/data-binder.git
[submodule "mure-library"]
	path = mure-library
	url = https://github.com/mure-apps/mure-library.git
[submodule "mure-ui"]
	path = mure-ui
	url = https://github.com/mure-apps/mure-ui.git
[submodule "apps/encoding-manager"]
	path = apps/encoding-manager
	url = https://github.com/mure-apps/encoding-manager.git
