@import './colors.scss';

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 10em;
  padding: 0;
  background-color: $darkPageColor;
}
iframe {
  display: block;
  margin: auto;
  background-color: $White;
  border: 1px solid black;
}
