@import './colors.scss';

html,
body {
  margin: 0;
  padding: 0;
}

#mainSection,
#previewSection {
  position: absolute;
  overflow: auto;
}

@media (max-width: 30em) {
  #mainSection {
    left: 1em;
    top: 4em;
    bottom: 4em;
    right: 1em;
  }

  #previewSection {
    display: none;
  }
}
@media (min-width: 30em) {
  #mainSection {
    left: 4em;
    top: 4em;
    bottom: 4em;
    width: calc(50% - 6em);
  }

  #previewSection {
    right: 4em;
    top: 4em;
    bottom: 4em;
    width: calc(50% - 6em);
    border: 1px solid $panelColor;
    border-radius: 0.5em;

    &:focus {
      border: 1px solid $accentColor;
    }

    iframe {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      border: none;
      overflow: scroll;
    }
  }
}

#mainSection {
  img {
    display: inline-block;
    width: 3em;
    height: 3em;
  }
  h1 {
    display: inline-block;
  }
}
