@import './colors.scss';

$buttonSize: 2.5em;
$panelSize: calc(#{$buttonSize} + 2px);
$buttonImageSize: 1.5em;
$borderRadius: 0.5em;

.toolbar {
  position: fixed;
  padding: 0.25em 0.125em;
  display: flex;

  background-color: $darkPanelColor;
  border: 1px solid $darkPanelColor;
  box-shadow: 0 0 0.25em $darkPanelColor;
  border-radius: $borderRadius;

  &.top,
  &.bottom {
    height: $panelSize;
    left: 50%;
    transform: translate(-50%, 0%);
    flex-direction: row;
  }
  &.top {
    top: 0px;
  }
  &.bottom {
    bottom: 0px;
  }
  &.left,
  &.right {
    width: $panelSize;
    top: 50%;
    transform: translate(0%, -50%);
    flex-direction: column;
  }
  &.left {
    left: 0px;
  }
  &.right {
    right: 0px;
  }

  .button {
    position: relative;
    display: block;
    width: $buttonSize;
    height: $buttonSize;
    margin: 0 0.125em;
    cursor: pointer;
    background: linear-gradient(to bottom, rgba($lightPanelColor,0.1) 0%,rgba($panelColor,0) 40%,rgba($darkPanelColor,0.1) 100%);
    border: 1px solid darken($darkPanelColor, 10%);
    border-radius: $borderRadius;

    img {
      position: absolute;
      left: calc(#{$buttonSize / 2} - #{$buttonImageSize / 2});
      top: calc(#{$buttonSize / 2} - #{$buttonImageSize / 2});
      width: $buttonImageSize;
      height: $buttonImageSize;
      filter: imgColorFilter($accentColor);
    }

    label {
      display: none;
    }

    &:hover {
      background: linear-gradient(to bottom, rgba($lightPanelColor,0.5) 0%,rgba($panelColor,0.25) 40%,rgba($darkPanelColor,1) 100%);
      border: 1px solid $Black;

      label {
        display: block;
        position: absolute;
        padding: 0.25em 0.5em;
        border-radius: $borderRadius;

        background-color: $darkPanelColor;
        color: $accentColor;
        white-space: nowrap;
        border: 1px solid $darkPanelColor;
        box-shadow: 0 0 0.25em $darkPanelColor;

        @at-root .right.toolbar .button:hover label {
          top: calc(#{$buttonSize / 2} - 0.9em);
          right: calc(#{$buttonSize} + 1em);
        }
        @at-root .left.toolbar .button:hover label {
          top: calc(#{$buttonSize / 2} - 0.9em);
          left: calc(#{$buttonSize} + 1em);
        }
        @at-root .top.toolbar .button:hover label {
          top: calc(#{$buttonSize} + 0.5em);
          left: calc(#{$buttonSize / 2});
          transform: translate(-50%, 0);
        }
        @at-root .bottom.toolbar .button:hover label {
          bottom: calc(#{$buttonSize} + 0.5em);
          left: calc(#{$buttonSize / 2});
          transform: translate(-50%, 0);
        }
      }
    }

    &:active {
      background: linear-gradient(to bottom, rgba($darkPanelColor,1) 0%,rgba($panelColor,0.25) 40%,rgba($lightPanelColor,0.5) 100%);
      border: 1px solid $Black;
    }
  }
}
